<h1>About</h1>
<p>
	<% link_to "Esta apliacação" , "http://www.labvw.com.br" %>
	Este é um projeto de um curso que estou fazendo. Sendo a primeira vez que estou programando na vida. Para realizar isso estou usando <% link_to "Ruby on Rails" , "http://rubyonrails.org" %>. O curso deve acabar em aproximadamente em 1 mês. Vamos ver se dou jeito até la.
<p>

